<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration [
	<!ELEMENT Configuration (Appenders, Loggers)>
	<!ELEMENT Appenders     (Console)>
	<!ELEMENT Loggers       (Root)>
	<!ELEMENT Console       (PatternLayout)>
	<!ELEMENT Root          (AppenderRef)>
	<!ELEMENT PatternLayout EMPTY>
	<!ELEMENT AppenderRef   EMPTY>
	<!ATTLIST Configuration status  CDATA #REQUIRED>
	<!ATTLIST Console       name    CDATA #REQUIRED>
	<!ATTLIST Console       target  CDATA #REQUIRED>
	<!ATTLIST PatternLayout pattern CDATA #REQUIRED>
	<!ATTLIST Root          level   CDATA #REQUIRED>
	<!ATTLIST AppenderRef   ref     CDATA #REQUIRED>
]>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
</Configuration>
